<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1"> (c) <%= Date.today.year %> Ngwr21 all right reserved.</p>
    </div>
  </footer>
